-
	var title = config.title
	var lang = config.language

doctype html
html(lang=lang)
	head
		include ../partial/meta	
		title= title
		each stylesheet in theme.stylesheets
			link(href=url_for(stylesheet), rel='stylesheet', type='text/css', charset='utf-8')
		script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
	body
		include ../partial/header
		
		div#wraper
			div.container
				include ../partial/sidebar
				block content

		include ../partial/footer