
div.article
    div.header
        div.title= page.title
        div.date= date(page.date, 'YYYY-MM-DD H:mm')

    div.body!= page.content

include totop

<script src="#{config.root}js/totop.js"></script>