

footer#footer
    div.container
        p
            span.site-link
                a(href='https://github.com/a2htray/hexo-theme-goldfish/issues', target='_blank') #{__('issue')}
            span.supported supported by 
                a(href='https://hexo.io/', target='_blank') hexo
                span designed by a2htray