//- meta partial

meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

- var description = theme.site.description

if (description)
    meta(name='description', content!=description)

- var keywords = config.keywords || theme.keywords

if (keywords)
    meta(name='keywords', content='#{keywords.join(" ")}')

