-
    // var tags = site.tags.data.map((tag) => tag.name);

    // console.log(tags);
-
    // console.log(site.tags.toArray())

div#tagcloud
    div
        each tag in site.tags.toArray()
            span.item
                a(href='#{url_for(tag.path)}')= tag.name
