-
    // var tags = site.tags.data.map((tag) => tag.name);

    // console.log(tags);
-
    // console.log(site.tags.data)

div#tagcloud
    
    div
        each tag in site.tags.data
            span.item
                a(href='')= tag.name
    if (site.tags.length > 5)
        div.footer
            span.tool= __('switch')

